/* general styles */
body {
  font-family: "Nunito", sans-serif;
}

.container {
  padding: 5% 10%;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

/* nav bar */
nav {
  background-color: white;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

nav li {
  padding: 10px 30px;
}

nav a {
  color: darkblue;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: deepskyblue;
  text-decoration: line-through;
}

/* header section */
header {
  background: whitesmoke;
  font-size: 25px;
  padding: 15% 10%;
  height: 90vh;
}

header h1 span {
  color: darkblue;
  font-family: 'Dancing Script', cursive, Helvetica;
  font-size: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

header h1 span:hover {
  color: #f64f59;
}

/* about me section */
.about {
  background-size: cover;
  background-attachment: fixed;
}
.about h2,h3, h4{
  color: black;
}
.cont{
  background: whitesmoke;

}
/* my skills section */
.skills ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
}
.cont h2,p{
  color: black;
}

.skills li {
  background-color: paleturquoise;
  box-shadow: 20px 20px 1px 2px #f64f59;
  font-size: 35px;
  margin: 35px;
  padding: 20px;
  text-align: center;
}


/* footer */
.social {
  display: flex;
  justify-content: space-around;
}

footer .svg-inline--fa {
  color: salmon;
  font-size: 65px;
}

footer .svg-inline--fa:hover {
  color: #3c778a;
}
